<h1>New person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :name %>: 
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :e_mail %>:
    <%= f.text_field :e_mail %>
  </div>
  <div>
    <%= f.label :password, 'Password' %>:
    <%= f.text_field :password, :size => 40 %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'Confirm Password'  %>:
    <%= f.text_field :password_confirmation, :size => 40  %>
  </div>
  <div>
    <%= f.submit "Add User" %>
  </div>
<% end %>

<%= link_to 'Back', people_path %>
